/* from the library */

.react-calendar-timeline * {
    box-sizing: border-box; }
    
    .react-calendar-timeline{
      margin-top: 2px;
    }
     
  
  .react-calendar-timeline .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap; }
  
  .react-calendar-timeline .rct-scroll {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-touch-action: none;
    touch-action: none; }
  
  .react-calendar-timeline .rct-item:hover {
    z-index: 88; }
  
  .react-calendar-timeline .rct-item .rct-item-content {
    position: sticky;
    position: -webkit-sticky;
    left: 0px;
    overflow: hidden;
    display: inline-block;
    border-radius: 2px;
    padding: 0 6px;
    height: 100%; }
  
  .react-calendar-timeline .rct-sidebar {
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    width: 100px !important;
    
    /* border-right: 1px solid #bbb; */
   }
    .react-calendar-timeline .rct-sidebar.rct-sidebar-right {
      /* border-right: 0; */
      border-left: 1px solid #bbb; 
    }
    .react-calendar-timeline .rct-sidebar .rct-sidebar-row {
      padding: 0 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      margin: 0;
      border-bottom: 1px solid #eeeded; 
      
    }
      .react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
        /* background: rgba(0, 0, 0, 0.05);  */
      }
      .react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
        /* background: red; */
         
      }
  
  .react-calendar-timeline .rct-vertical-lines .rct-vl {
    position: absolute;
    border-left: 1px solid #bbb;
    z-index: 30; }
    .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
      border-left-width: 2px; }
    .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
      background: rgba(250, 246, 225, 0.5); }
  
  .react-calendar-timeline .rct-horizontal-lines {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none; }
    .react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
    .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
      border-bottom: 1px solid #bbb;
      box-sizing: border-box;
      z-index: 40; }
    .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
      background: rgba(0, 0, 0, 0.05); }
    .react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
      background: transparent; }
  
  .react-calendar-timeline .rct-cursor-line {
    position: absolute;
    width: 2px;
    background: #2196f3;
    z-index: 51; }
  
  .react-calendar-timeline .rct-dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #fff;
    
   }
   .react-calendar-timeline .rct-dateHeader:nth-child(2){
    border-left: 2px solid #bbb;
   }
  
  .react-calendar-timeline .rct-dateHeader-primary {
    background-color: initial;
    border-left: 1px solid #bbb;
    border-right: 1px solid #eca7a7;
    font-size: 16px !important;
    font-family: 'Rubik', sans-serif;
    color: #000; }
  
  .react-calendar-timeline  .rct-header-root {
    background:  rgb(255, 255, 255); 
    
  }
  .react-calendar-timeline  .rct-header-root>div:first-child{
      width: 100px !important;
  }
  
  .react-calendar-timeline .rct-calendar-header {
    border: 1px solid #bbb; 
  }

/* Custom stylings */

#icon{
    color: lightgreen;
    margin-top: 5px;
    font-size: 20px;
    margin-right: 3px;
  }
  .Flist{
    position: relative;
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 2px lightgray;
    background-color: #f1f1f1;
    height: 23px;

   
  }
  .Flist .Fitem{
     margin-top: 1px;
     margin-right: 13px;
     color: darkslategrey;
     font-family: Arial, Helvetica, sans-serf;     
     
  }

  #refresh{
    margin-left: 13px;
    cursor: pointer; 
    
 }
 input[type='date'] {
   width: 8rem;
   height: 18px;
   padding: 1px;
   border: 1.5px solid lightgray;
   border-radius: 3px; 
   /* -webkit-appearance: none; */
 }
 #indicate{
   font-size: 11px;
   font-weight: 600;
   cursor: pointer;
 }
 .now{
   margin-top: -4px !important; 
 }
 .zoom{
   margin-top: -2px !important; 
}
 .arrow{
   font-size: 20px;
   font-weight: 900;
   cursor: pointer;
 }
 .left{
   margin-right: 10px;
   
 }
 .right{
   margin-left: 10px;
 }
 #publish{
   color: #fff;
   padding: 2px;
   font-size: 8.5px;
   letter-spacing: 1px;
 }
 ::-webkit-input-placeholder{
   font-size: 10px;
   margin-bottom: 5px;
 }
 button{
   background-color: lightseagreen;
   border: none;
   border-radius: 2px;
   padding-top: -3px;
 }

 #foot{
  width: 50%;
  display: flex;
  margin-left: 80px;
 }
#foot #footB{

  font-size: 10px;
  padding: 7px;
  text-transform: uppercase;
  background-color: lightseagreen; 
  margin-top: 8px; 
  margin-left: 20px;
  color: #fff;
  letter-spacing: 1px;
}
#delete{
   text-transform: uppercase;
  background-color: red;
   margin-top: 8px; 
  margin-left: 20px;
  padding: 7px;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
}


 #groups{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
 }